{% extends "index.html" %}

{%block content %}

<div class = "scoreboard">
    <div class = "winning-team">
        {{winningTeam}} wins!
    </div>
    <div class = "black-team">
        <p>Black Team</p>
        <div class = "black-match-wins">
            <p>Games won: {{blackWins}} </p>
            <p></p>
        </div>
        <div class = "black-game-score">
            <p>Score: {{blackScore}}</p>
            <br>
            <a href="/goal?team=black">Black Goal</a></button>
        </div>
    </div>
    <div class = "gameCount">
        <p>Current Game: {{currentGame}}</p>
    </div>
    <div class yellow-team>
        <p>Yellow Team</p>
        <div class = "yellow-match-wins">
            <p>Games won: {{yellowWins}}</p>
            <p></p>
        </div>
        <div class = "yellow-game-score">
            <p>Score: {{yellowScore}}</p>
            <br>
            <a href="/goal?team=yellow">Yellow Goal</a></button>
        </div>
    </div>
</div>

{%endblock %}